*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


/*HEADER*/
header{PADDING: 0.75rem;}

/*MOBILE*/ 
h1.title-style{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(218, 125, 81);
  text-align: center;}

/*DESKTOP SCREEN*/
@media screen and (min-width: 992px){
h1.title-style{
text-align: left;}
}

 /*PAD SCREEN*/
@media screen and (min-width: 768px) {
h1.title-style{
text-align: left;}
}

/*MAIN*/
.container-all{
  max-width: 550px;}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 203, 203);
}

.title-subtitle{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container-menu{
  background-color: white;
}

.info{padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;}


.container-description{
  display: block;
  margin-top: 15px;
  margin-bottom: 50px;
}

.container-description img{width: 60%;
    height: auto;
    display: flex;
    justify-items: center;
    justify-self: center;
    margin-bottom: 20px;
    margin-top: 40px;}

.visible{
  display: none;
}

.description-desktop{
  display: none;
}

hr{
  background-color: orange;
  width: 30%;
  height: 3px;
  margin-top: 5px;}



/*PAD SCREEN*/
@media screen and (min-width: 768px) {

  .container-all {
    max-width: 600px;
}
  .visible{
    display:inline-flex;
    margin-top: 20px;
    margin-bottom: 20px;}


  .container-menu {width: fit-content;}
  .container-menu img{width: 100%; height: auto;}

  ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;}
  
  
  .btn-pad {
  width: -webkit-fill-available;
  height: 50px;
  margin: 1rem;
  margin-top: 25px;
  border: none;
  background-color: white;
  color: white;
  cursor: pointer;
  border-radius: 999px;
  justify-items: baseline;}

  .imglogo-pad{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 35%;}

  .container-description{
  width: 100%;
  height: auto;
  display: block ;
  margin-bottom: 40px;
  margin-top: 30px;
}
  .container-description img{
    width: 35%;
    float: left;
    margin-right: 4px;
    margin-bottom: 15px;}
}


/*DESKTOP SCREEN*/
@media screen and (min-width: 992px) {
  .container-all {
    max-width: 900px;
}

  .info{padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;}

  .description-desktop{
  display: inline-flex;
  color: black;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  margin-left: 1 rem;}
  
  .container-menu{
    display: inline-flex;}

  ul {
   display: flex;
   flex-direction: column;
   gap: 1rem;}

  .btn-desktop {
  width: 205px;
  height: 40px;
  margin-left: 0;
  border: none;
  background-color: white;
  color: white;
  cursor: pointer;
  border-radius: 999px;}
  
  .imglogo {
    width: 25px;
    height: 25px;}

  .imglogo-desktop{
  margin-right: 6%;}

  .c-black{padding: 1rem;}

  .container-description{
    width: 100%;
    height: auto;
    display: block ;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  .container-description img{
    width:25%;
    float: left;
    margin: 0px 15px 0px 0px;}
  }





/*FOOTER*/

.barend{
display: flex;
flex-direction: column;
background-color: rgb(87, 0, 87);
padding: 1rem;
gap: 1rem;
}


.contact {
display: flex;
flex-direction: column;
align-items: center;
padding: 1 rem;
gap: 0.75rem;
}

.link-info{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 1 rem;
gap: 1.5rem;
}

.link-info a:last-child{
  width: 100%;
  text-align: center;
}



/*PAD SCREEN*/
@media screen and (min-width: 768px) {
  .link-info a:last-child{
  width: auto;}
}


/*DESKTOP SCREEN*/
@media screen and (min-width: 992px){
.barend{
display: flex;
flex-direction: row;
justify-content: space-between;}
.contact{        
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;}
.link-info{
padding: 1rem;}
}





 /*SOCIAL BUTTON*/
    button {
    width: 50px;
    height: 50px;
    margin: 2rem;
    border: none;
    background-color: white;
    color: white;
    cursor: pointer;
    border-radius: 100%;
    justify-items: anchor-center;
  }
  
.imglogo{width:30px;  height:30px;  vertical-align: middle;}




/*COLORI-DIMENSIONI-CARATTERI*/

.c-white{color:white;font-size: 18px;}
.c-gray{color: gray;font-size: 20px;font-weight: normal;}
.c-violet {color: rgb(125, 1, 125);font-size: 28px;}
.c-black{color: black;font-size: 28px;font-weight: normal}

.d-flex{display: flex;}

.font-contact{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.img-adaptive{
max-width: 100%;
height: auto;
display: block;
}
