*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


/*HEADER*/
header{PADDING: 0.75rem;}

/*DESKTOP SCREEN*/
h1.title-style{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(218, 125, 81);
  text-align: center;}


/*PAD SCREEN*/
@media screen and (min-width: 992px){
h1.title-style{
text-align: left;}
}

/*MOBILE*/
@media screen and (min-width: 768px) {
h1.title-style{
text-align: left;}
}

/*MAIN*/

main{
    display: flex;
    justify-items: center;
    height: 900px;
    background-color: gray;
}





/*FOOTER*/

.barend{
display: flex;
flex-direction: column;
background-color: rgb(87, 0, 87);
padding: 1rem;
gap: 1rem;
}

.font-contact{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.contact {
display: flex;
flex-direction: column;
align-items: center;
padding: 1 rem;
gap: 0.75rem;
}

.link-info{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 1 rem;
gap: 1.5rem;
}

.link-info a:last-child{
  width: 100%;
  text-align: center;
}


/*DESKTOP SCREEN*/
@media screen and (min-width: 992px){
.barend{
display: flex;
flex-direction: row;
justify-content: space-between;}
.contact{        
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;}
.link-info{
padding: 1rem;}
}



/*PAD SCREEN*/
@media screen and (min-width: 768px) {
  .link-info a:last-child{
  width: auto;}
}







/*COLORI*/

.c-white{color:white;font-size: 18px;}

