*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


/*HEADER*/
header{PADDING: 0.75rem;}

/*DESKTOP SCREEN*/
h1.title-style{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(218, 125, 81);
  text-align: center;}


/*PAD SCREEN*/
@media screen and (min-width: 992px){
h1.title-style{
text-align: left;}
}

/*MOBILE*/
@media screen and (min-width: 768px) {
h1.title-style{
text-align: left;}
}

/*FIRSTPARTOFMAIN*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 203, 203);
}

.title-subtitle{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1rem;
  margin-left: 1.5rem;
  gap: 1rem;
}

.container-menu{
  background-color: white;
}

.info{padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;}


  /*SOCIAL BUTTON*/
    button {
    width: 50px;
    height: 50px;
    margin: 4rem;
    border: none;
    background-color: white;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
  }

.imgfb{width:30px;  height:30px;  vertical-align: middle;}
.imgtwitter{width: 30px;  height: 30px;  vertical-align: middle;}
.imginsta{width: 30px;  height: 30px;  vertical-align: middle;}
.imgpinter{width: 30px;  height: 30px;  vertical-align: middle;}
.imgyt{width: 30px;  height: 30px;  vertical-align: middle;}


/*SECONDPARTOFMAIN*/

.container-description{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}






/*FOOTER*/

.barend{
display: flex;
flex-direction: column;
background-color: rgb(87, 0, 87);
padding: 1rem;
gap: 1rem;
}

.font-contact{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.contact {
display: flex;
flex-direction: column;
align-items: center;
padding: 1 rem;
gap: 0.75rem;
}

.link-info{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 1 rem;
gap: 1.5rem;
}

.link-info a:last-child{
  width: 100%;
  text-align: center;
}


/*DESKTOP SCREEN*/
@media screen and (min-width: 992px){
.barend{
display: flex;
flex-direction: row;
justify-content: space-between;}
.contact{        
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;}
.link-info{
padding: 1rem;}
}



/*PAD SCREEN*/
@media screen and (min-width: 768px) {
  .link-info a:last-child{
  width: auto;}
}







/*COLORI-DIMENSIONI-CARATTERI*/

.c-white{color:white;font-size: 18px;}
.c-gray{color: gray;font-size: 20px;font-weight: normal;}
.c-violet {color: rgb(125, 1, 125);font-size: 28px;}
.c-black{color: black;font-size: 28px;font-weight: normal}

.d-flex{display: flex;}

